<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_fgr7gBLhEeetZ5fTa5zGYw" specification="interface:&#xA;// Define events and&#xA;// and variables here&#xA;internal:&#xA;&#xA;event right&#xA;event left&#xA;event no_right&#xA;event no_left&#xA;&#xA;&#xA;var song : int32_t =0&#xA;var songsCount: int32_t=5&#xA;var vol :int32_t=0&#xA;&#xA;var playing : bool" name="ControllerStateChart" domainID="com.yakindu.domain.c">
    <regions xmi:id="_fg1sghLhEeetZ5fTa5zGYw" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_fg_diRLhEeetZ5fTa5zGYw">
        <outgoingTransitions xmi:id="_fhInfhLhEeetZ5fTa5zGYw" specification="/playing=true;&#xD;&#xA;vol=50" target="_fg_dlRLhEeetZ5fTa5zGYw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_fg_dlRLhEeetZ5fTa5zGYw" specification="" name="idle" incomingTransitions="_fhInfhLhEeetZ5fTa5zGYw _-kC-gBLkEeetZ5fTa5zGYw _AyTwYBLmEeetZ5fTa5zGYw _LZWLEBLnEeetZ5fTa5zGYw _mroQgBLnEeetZ5fTa5zGYw">
        <outgoingTransitions xmi:id="_8-YIkBLhEeetZ5fTa5zGYw" specification="right" target="_iX9DkBLhEeetZ5fTa5zGYw"/>
        <outgoingTransitions xmi:id="_NZL74BLnEeetZ5fTa5zGYw" specification="left" target="_kmsMABLhEeetZ5fTa5zGYw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_iX9DkBLhEeetZ5fTa5zGYw" name="right_trigger" incomingTransitions="_8-YIkBLhEeetZ5fTa5zGYw">
        <outgoingTransitions xmi:id="__2V0MBLhEeetZ5fTa5zGYw" specification="no_right" target="_k6DM4BLhEeetZ5fTa5zGYw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_kXIGABLhEeetZ5fTa5zGYw" name="left_trigger" incomingTransitions="_QCF30BLnEeetZ5fTa5zGYw _fUnmsBLnEeetZ5fTa5zGYw">
        <outgoingTransitions xmi:id="_aqTMoBLnEeetZ5fTa5zGYw" specification="after 500ms" target="_pwkP4BLhEeetZ5fTa5zGYw"/>
        <outgoingTransitions xmi:id="_ihw4IBLnEeetZ5fTa5zGYw" specification="right" target="_phZOoBLlEeetZ5fTa5zGYw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_kmsMABLhEeetZ5fTa5zGYw" name="left_triggered" incomingTransitions="_NZL74BLnEeetZ5fTa5zGYw">
        <outgoingTransitions xmi:id="_QCF30BLnEeetZ5fTa5zGYw" specification="no_left" target="_kXIGABLhEeetZ5fTa5zGYw"/>
        <outgoingTransitions xmi:id="_XKrrIBLnEeetZ5fTa5zGYw" specification="after 1s" target="_Ubm1wBLnEeetZ5fTa5zGYw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_k6DM4BLhEeetZ5fTa5zGYw" name="right_triggered" incomingTransitions="__2V0MBLhEeetZ5fTa5zGYw">
        <outgoingTransitions xmi:id="_JMWhUBLiEeetZ5fTa5zGYw" specification="after 500ms" target="_wqWyMBLhEeetZ5fTa5zGYw"/>
        <outgoingTransitions xmi:id="_QG1nMBLiEeetZ5fTa5zGYw" specification="left " target="_6IWPQBLkEeetZ5fTa5zGYw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_pwkP4BLhEeetZ5fTa5zGYw" name="changing_Volume" incomingTransitions="_aqTMoBLnEeetZ5fTa5zGYw">
        <outgoingTransitions xmi:id="_mroQgBLnEeetZ5fTa5zGYw" specification="always" target="_fg_dlRLhEeetZ5fTa5zGYw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_wqWyMBLhEeetZ5fTa5zGYw" specification="entry/playing !=playing&#xD;&#xA;" name="pausing" incomingTransitions="_JMWhUBLiEeetZ5fTa5zGYw">
        <outgoingTransitions xmi:id="_AyTwYBLmEeetZ5fTa5zGYw" specification="after 5s" target="_fg_dlRLhEeetZ5fTa5zGYw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_6IWPQBLkEeetZ5fTa5zGYw" specification="entry/ song+=1&#xD;&#xA;entry/song=song%songsCount" name="nextSong" incomingTransitions="_QG1nMBLiEeetZ5fTa5zGYw _DN9v8BLlEeetZ5fTa5zGYw">
        <outgoingTransitions xmi:id="_-kC-gBLkEeetZ5fTa5zGYw" specification="no_left" target="_fg_dlRLhEeetZ5fTa5zGYw"/>
        <outgoingTransitions xmi:id="_DN9v8BLlEeetZ5fTa5zGYw" specification="after 500ms" target="_6IWPQBLkEeetZ5fTa5zGYw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_phZOoBLlEeetZ5fTa5zGYw" specification="entry/ song-=1&#xD;&#xA;entry/song=song%songsCount" name="previousSong" incomingTransitions="_ihw4IBLnEeetZ5fTa5zGYw">
        <outgoingTransitions xmi:id="_LZWLEBLnEeetZ5fTa5zGYw" specification="no_right" target="_fg_dlRLhEeetZ5fTa5zGYw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_Ubm1wBLnEeetZ5fTa5zGYw" name="dynamicVolume" incomingTransitions="_XKrrIBLnEeetZ5fTa5zGYw">
        <outgoingTransitions xmi:id="_fUnmsBLnEeetZ5fTa5zGYw" specification="no_left" target="_kXIGABLhEeetZ5fTa5zGYw"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_fg1sgBLhEeetZ5fTa5zGYw" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_fgr7gBLhEeetZ5fTa5zGYw" measurementUnit="Pixel">
    <children xmi:id="_fg_dgBLhEeetZ5fTa5zGYw" type="Region" element="_fg1sghLhEeetZ5fTa5zGYw">
      <children xsi:type="notation:DecorationNode" xmi:id="_fg_dgxLhEeetZ5fTa5zGYw" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_fg_dhBLhEeetZ5fTa5zGYw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_fg_dhRLhEeetZ5fTa5zGYw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_fg_dhhLhEeetZ5fTa5zGYw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_fg_dihLhEeetZ5fTa5zGYw" type="Entry" element="_fg_diRLhEeetZ5fTa5zGYw">
          <children xmi:id="_fg_djhLhEeetZ5fTa5zGYw" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_fg_dkRLhEeetZ5fTa5zGYw" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_fg_dkhLhEeetZ5fTa5zGYw"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_fg_dkxLhEeetZ5fTa5zGYw"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_fg_djxLhEeetZ5fTa5zGYw" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_fg_dkBLhEeetZ5fTa5zGYw"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_fg_dixLhEeetZ5fTa5zGYw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_fg_djBLhEeetZ5fTa5zGYw" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_fg_dlBLhEeetZ5fTa5zGYw" x="70" y="20"/>
        </children>
        <children xmi:id="_fhIncRLhEeetZ5fTa5zGYw" type="State" element="_fg_dlRLhEeetZ5fTa5zGYw">
          <children xsi:type="notation:DecorationNode" xmi:id="_fhIndRLhEeetZ5fTa5zGYw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_fhIndhLhEeetZ5fTa5zGYw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_fhIndxLhEeetZ5fTa5zGYw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_fhIneBLhEeetZ5fTa5zGYw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_fhIneRLhEeetZ5fTa5zGYw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_fhInehLhEeetZ5fTa5zGYw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_fhInexLhEeetZ5fTa5zGYw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_fhInchLhEeetZ5fTa5zGYw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_fhIncxLhEeetZ5fTa5zGYw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_fhInfBLhEeetZ5fTa5zGYw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_fhInfRLhEeetZ5fTa5zGYw" x="496" y="78" width="96"/>
        </children>
        <children xmi:id="_iX9DkxLhEeetZ5fTa5zGYw" type="State" element="_iX9DkBLhEeetZ5fTa5zGYw">
          <children xsi:type="notation:DecorationNode" xmi:id="_iX9DlxLhEeetZ5fTa5zGYw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_iX9DmBLhEeetZ5fTa5zGYw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_iX9DmRLhEeetZ5fTa5zGYw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_iX9DmhLhEeetZ5fTa5zGYw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_iX9DmxLhEeetZ5fTa5zGYw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_iX9DnBLhEeetZ5fTa5zGYw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_iX9DnRLhEeetZ5fTa5zGYw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_iX9DlBLhEeetZ5fTa5zGYw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_iX9DlRLhEeetZ5fTa5zGYw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_iX9DnhLhEeetZ5fTa5zGYw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_iX9DlhLhEeetZ5fTa5zGYw" x="784" y="90"/>
        </children>
        <children xmi:id="_kXIGAxLhEeetZ5fTa5zGYw" type="State" element="_kXIGABLhEeetZ5fTa5zGYw">
          <children xsi:type="notation:DecorationNode" xmi:id="_kXIGBxLhEeetZ5fTa5zGYw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_kXIGCBLhEeetZ5fTa5zGYw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_kXIGCRLhEeetZ5fTa5zGYw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_kXRP8BLhEeetZ5fTa5zGYw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_kXRP8RLhEeetZ5fTa5zGYw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_kXRP8hLhEeetZ5fTa5zGYw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_kXRP8xLhEeetZ5fTa5zGYw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_kXIGBBLhEeetZ5fTa5zGYw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_kXIGBRLhEeetZ5fTa5zGYw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_kXRP9BLhEeetZ5fTa5zGYw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_kXIGBhLhEeetZ5fTa5zGYw" x="93" y="234"/>
        </children>
        <children xmi:id="_kmsMAxLhEeetZ5fTa5zGYw" type="State" element="_kmsMABLhEeetZ5fTa5zGYw">
          <children xsi:type="notation:DecorationNode" xmi:id="_kmsMBxLhEeetZ5fTa5zGYw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_kmsMCBLhEeetZ5fTa5zGYw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_kmsMCRLhEeetZ5fTa5zGYw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_kmsMChLhEeetZ5fTa5zGYw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_kmsMCxLhEeetZ5fTa5zGYw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_kmsMDBLhEeetZ5fTa5zGYw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_kmsMDRLhEeetZ5fTa5zGYw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_kmsMBBLhEeetZ5fTa5zGYw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_kmsMBRLhEeetZ5fTa5zGYw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_kmsMDhLhEeetZ5fTa5zGYw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_kmsMBhLhEeetZ5fTa5zGYw" x="99" y="90"/>
        </children>
        <children xmi:id="_k6IscBLhEeetZ5fTa5zGYw" type="State" element="_k6DM4BLhEeetZ5fTa5zGYw">
          <children xsi:type="notation:DecorationNode" xmi:id="_k6IsdBLhEeetZ5fTa5zGYw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_k6IsdRLhEeetZ5fTa5zGYw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_k6IsdhLhEeetZ5fTa5zGYw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_k6IsdxLhEeetZ5fTa5zGYw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_k6IseBLhEeetZ5fTa5zGYw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_k6IseRLhEeetZ5fTa5zGYw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_k6IsehLhEeetZ5fTa5zGYw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_k6IscRLhEeetZ5fTa5zGYw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_k6IschLhEeetZ5fTa5zGYw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_k6IsexLhEeetZ5fTa5zGYw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_k6IscxLhEeetZ5fTa5zGYw" x="796" y="312"/>
        </children>
        <children xmi:id="_pwkP4xLhEeetZ5fTa5zGYw" type="State" element="_pwkP4BLhEeetZ5fTa5zGYw">
          <children xsi:type="notation:DecorationNode" xmi:id="_pwkP5xLhEeetZ5fTa5zGYw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_pwkP6BLhEeetZ5fTa5zGYw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_pwkP6RLhEeetZ5fTa5zGYw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_pwkP6hLhEeetZ5fTa5zGYw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_pwkP6xLhEeetZ5fTa5zGYw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pwkP7BLhEeetZ5fTa5zGYw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_pwkP7RLhEeetZ5fTa5zGYw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_pwkP5BLhEeetZ5fTa5zGYw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_pwkP5RLhEeetZ5fTa5zGYw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_pwkP7hLhEeetZ5fTa5zGYw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pwkP5hLhEeetZ5fTa5zGYw" x="213" y="337"/>
        </children>
        <children xmi:id="_wqWyMxLhEeetZ5fTa5zGYw" type="State" element="_wqWyMBLhEeetZ5fTa5zGYw">
          <children xsi:type="notation:DecorationNode" xmi:id="_wqWyNxLhEeetZ5fTa5zGYw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_wqWyOBLhEeetZ5fTa5zGYw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_wqWyORLhEeetZ5fTa5zGYw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_wqgjMBLhEeetZ5fTa5zGYw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_wqgjMRLhEeetZ5fTa5zGYw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_wqgjMhLhEeetZ5fTa5zGYw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_wqgjMxLhEeetZ5fTa5zGYw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_wqWyNBLhEeetZ5fTa5zGYw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_wqWyNRLhEeetZ5fTa5zGYw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_wqgjNBLhEeetZ5fTa5zGYw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_wqWyNhLhEeetZ5fTa5zGYw" x="496" y="312" height="102"/>
        </children>
        <children xmi:id="_6IWPQxLkEeetZ5fTa5zGYw" type="State" element="_6IWPQBLkEeetZ5fTa5zGYw">
          <children xsi:type="notation:DecorationNode" xmi:id="_6IWPRxLkEeetZ5fTa5zGYw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_6IWPSBLkEeetZ5fTa5zGYw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_6IWPSRLkEeetZ5fTa5zGYw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_6IWPShLkEeetZ5fTa5zGYw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_6IWPSxLkEeetZ5fTa5zGYw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_6IWPTBLkEeetZ5fTa5zGYw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_6IWPTRLkEeetZ5fTa5zGYw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_6IWPRBLkEeetZ5fTa5zGYw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_6IWPRRLkEeetZ5fTa5zGYw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_6IWPThLkEeetZ5fTa5zGYw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_6IWPRhLkEeetZ5fTa5zGYw" x="550" y="186"/>
        </children>
        <children xmi:id="_phZOoxLlEeetZ5fTa5zGYw" type="State" element="_phZOoBLlEeetZ5fTa5zGYw">
          <children xsi:type="notation:DecorationNode" xmi:id="_phZOpxLlEeetZ5fTa5zGYw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_phZOqBLlEeetZ5fTa5zGYw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_phZOqRLlEeetZ5fTa5zGYw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_phZOqhLlEeetZ5fTa5zGYw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_phZOqxLlEeetZ5fTa5zGYw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_phZOrBLlEeetZ5fTa5zGYw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_phZOrRLlEeetZ5fTa5zGYw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_phZOpBLlEeetZ5fTa5zGYw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_phZOpRLlEeetZ5fTa5zGYw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_phZOrhLlEeetZ5fTa5zGYw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_phZOphLlEeetZ5fTa5zGYw" x="242" y="198"/>
        </children>
        <children xmi:id="_Ubm1wxLnEeetZ5fTa5zGYw" type="State" element="_Ubm1wBLnEeetZ5fTa5zGYw">
          <children xsi:type="notation:DecorationNode" xmi:id="_Ubm1xxLnEeetZ5fTa5zGYw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_Ubm1yBLnEeetZ5fTa5zGYw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_Ubm1yRLnEeetZ5fTa5zGYw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_Ubm1yhLnEeetZ5fTa5zGYw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_Ubm1yxLnEeetZ5fTa5zGYw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Ubm1zBLnEeetZ5fTa5zGYw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_Ubm1zRLnEeetZ5fTa5zGYw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_Ubm1xBLnEeetZ5fTa5zGYw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_Ubm1xRLnEeetZ5fTa5zGYw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_Ubm1zhLnEeetZ5fTa5zGYw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Ubm1xhLnEeetZ5fTa5zGYw" x="27" y="444"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_fg_dhxLhEeetZ5fTa5zGYw"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_fg_dgRLhEeetZ5fTa5zGYw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_fg_diBLhEeetZ5fTa5zGYw" x="220" y="10" width="1293" height="711"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_fhInhhLhEeetZ5fTa5zGYw" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_fhIniBLhEeetZ5fTa5zGYw" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_fhIniRLhEeetZ5fTa5zGYw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_fhInihLhEeetZ5fTa5zGYw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_fhInixLhEeetZ5fTa5zGYw" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_fhInjBLhEeetZ5fTa5zGYw"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_fhInjRLhEeetZ5fTa5zGYw" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_fg1sgRLhEeetZ5fTa5zGYw"/>
    <edges xmi:id="_fhInfxLhEeetZ5fTa5zGYw" type="Transition" element="_fhInfhLhEeetZ5fTa5zGYw" source="_fg_dihLhEeetZ5fTa5zGYw" target="_fhIncRLhEeetZ5fTa5zGYw">
      <children xsi:type="notation:DecorationNode" xmi:id="_fhIngxLhEeetZ5fTa5zGYw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_fhInhBLhEeetZ5fTa5zGYw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_fhInhRLhEeetZ5fTa5zGYw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_fhIngBLhEeetZ5fTa5zGYw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_fhInghLhEeetZ5fTa5zGYw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_fhIngRLhEeetZ5fTa5zGYw" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_8-h5kBLhEeetZ5fTa5zGYw" type="Transition" element="_8-YIkBLhEeetZ5fTa5zGYw" source="_fhIncRLhEeetZ5fTa5zGYw" target="_iX9DkxLhEeetZ5fTa5zGYw">
      <children xsi:type="notation:DecorationNode" xmi:id="_8-h5lBLhEeetZ5fTa5zGYw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_8-h5lRLhEeetZ5fTa5zGYw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_8-h5lhLhEeetZ5fTa5zGYw" x="37" y="-10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_8-h5kRLhEeetZ5fTa5zGYw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_8-h5kxLhEeetZ5fTa5zGYw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_8-h5khLhEeetZ5fTa5zGYw" points="[0, 0, -162, 35]$[164, -44, 2, -9]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_8-h5lxLhEeetZ5fTa5zGYw" id="(1.0,0.5471698113207547)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_8-h5mBLhEeetZ5fTa5zGYw" id="(0.226890756302521,0.18867924528301888)"/>
    </edges>
    <edges xmi:id="__2flMBLhEeetZ5fTa5zGYw" type="Transition" element="__2V0MBLhEeetZ5fTa5zGYw" source="_iX9DkxLhEeetZ5fTa5zGYw" target="_k6IscBLhEeetZ5fTa5zGYw">
      <children xsi:type="notation:DecorationNode" xmi:id="__2flNBLhEeetZ5fTa5zGYw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="__2flNRLhEeetZ5fTa5zGYw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="__2flNhLhEeetZ5fTa5zGYw" x="-5" y="-75"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="__2flMRLhEeetZ5fTa5zGYw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="__2flMxLhEeetZ5fTa5zGYw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="__2flMhLhEeetZ5fTa5zGYw" points="[-20, 24, -22, -48]$[-20, 66, -22, -6]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_BH9NEBLiEeetZ5fTa5zGYw" id="(0.5179856115107914,0.1320754716981132)"/>
    </edges>
    <edges xmi:id="_JMgSUBLiEeetZ5fTa5zGYw" type="Transition" element="_JMWhUBLiEeetZ5fTa5zGYw" source="_k6IscBLhEeetZ5fTa5zGYw" target="_wqWyMxLhEeetZ5fTa5zGYw">
      <children xsi:type="notation:DecorationNode" xmi:id="_JMgSVBLiEeetZ5fTa5zGYw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_JMgSVRLiEeetZ5fTa5zGYw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_JMgSVhLiEeetZ5fTa5zGYw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_JMgSURLiEeetZ5fTa5zGYw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_JMgSUxLiEeetZ5fTa5zGYw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_JMgSUhLiEeetZ5fTa5zGYw" points="[-3, 12, 109, 0]$[-112, 12, 0, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_JMpcQBLiEeetZ5fTa5zGYw" id="(0.02877697841726619,0.24528301886792453)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_JMpcQRLiEeetZ5fTa5zGYw" id="(1.0,0.24528301886792453)"/>
    </edges>
    <edges xmi:id="_QG1nMRLiEeetZ5fTa5zGYw" type="Transition" element="_QG1nMBLiEeetZ5fTa5zGYw" source="_k6IscBLhEeetZ5fTa5zGYw" target="_6IWPQxLkEeetZ5fTa5zGYw">
      <children xsi:type="notation:DecorationNode" xmi:id="_QG1nNRLiEeetZ5fTa5zGYw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_QG1nNhLiEeetZ5fTa5zGYw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_QG1nNxLiEeetZ5fTa5zGYw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_QG1nMhLiEeetZ5fTa5zGYw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_QG1nNBLiEeetZ5fTa5zGYw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_QG1nMxLiEeetZ5fTa5zGYw" points="[1, -18, 1, -18]$[1, -18, 1, -18]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_QG-xIBLiEeetZ5fTa5zGYw" id="(0.1223021582733813,0.37735849056603776)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_QG-xIRLiEeetZ5fTa5zGYw" id="(0.9315068493150684,0.4528301886792453)"/>
    </edges>
    <edges xmi:id="_-kC-gRLkEeetZ5fTa5zGYw" type="Transition" element="_-kC-gBLkEeetZ5fTa5zGYw" source="_6IWPQxLkEeetZ5fTa5zGYw" target="_fhIncRLhEeetZ5fTa5zGYw">
      <children xsi:type="notation:DecorationNode" xmi:id="_-kC-hRLkEeetZ5fTa5zGYw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_-kC-hhLkEeetZ5fTa5zGYw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_-kC-hxLkEeetZ5fTa5zGYw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_-kC-ghLkEeetZ5fTa5zGYw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_-kC-hBLkEeetZ5fTa5zGYw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_-kC-gxLkEeetZ5fTa5zGYw" points="[0, 0, 104, 65]$[0, -30, 104, 35]$[-58, -30, 46, 35]$[-58, -60, 46, 5]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_-kMvgBLkEeetZ5fTa5zGYw" id="(0.2945205479452055,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_-kMvgRLkEeetZ5fTa5zGYw" id="(0.30952380952380953,0.9056603773584906)"/>
    </edges>
    <edges xmi:id="_DN9v8RLlEeetZ5fTa5zGYw" type="Transition" element="_DN9v8BLlEeetZ5fTa5zGYw" source="_6IWPQxLkEeetZ5fTa5zGYw" target="_6IWPQxLkEeetZ5fTa5zGYw">
      <children xsi:type="notation:DecorationNode" xmi:id="_DN9v9RLlEeetZ5fTa5zGYw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_DN9v9hLlEeetZ5fTa5zGYw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_DN9v9xLlEeetZ5fTa5zGYw" x="-19" y="-17"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_DN9v8hLlEeetZ5fTa5zGYw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_DN9v9BLlEeetZ5fTa5zGYw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_DN9v8xLlEeetZ5fTa5zGYw" points="[6, 11, -40, 24]$[6, 34, -40, 47]$[-42, 34, -88, 47]$[-42, -11, -88, 2]$[-24, -11, -70, 2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_DOHg8BLlEeetZ5fTa5zGYw" id="(0.17123287671232876,0.7735849056603774)"/>
    </edges>
    <edges xmi:id="_AyTwYRLmEeetZ5fTa5zGYw" type="Transition" element="_AyTwYBLmEeetZ5fTa5zGYw" source="_wqWyMxLhEeetZ5fTa5zGYw" target="_fhIncRLhEeetZ5fTa5zGYw">
      <children xsi:type="notation:DecorationNode" xmi:id="_AyTwZRLmEeetZ5fTa5zGYw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_AyTwZhLmEeetZ5fTa5zGYw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_AyTwZxLmEeetZ5fTa5zGYw" x="-241" y="-43"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_AyTwYhLmEeetZ5fTa5zGYw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_AyTwZBLmEeetZ5fTa5zGYw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_AyTwYxLmEeetZ5fTa5zGYw" points="[-3, -9, 51, 170]$[-52, -171, 2, 8]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_AyfWkBLmEeetZ5fTa5zGYw" id="(0.15384615384615385,0.20754716981132076)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_AyfWkRLmEeetZ5fTa5zGYw" id="(0.3333333333333333,0.8490566037735849)"/>
    </edges>
    <edges xmi:id="_LZf8EBLnEeetZ5fTa5zGYw" type="Transition" element="_LZWLEBLnEeetZ5fTa5zGYw" source="_phZOoxLlEeetZ5fTa5zGYw" target="_fhIncRLhEeetZ5fTa5zGYw">
      <children xsi:type="notation:DecorationNode" xmi:id="_LZf8FBLnEeetZ5fTa5zGYw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_LZf8FRLnEeetZ5fTa5zGYw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_LZf8FhLnEeetZ5fTa5zGYw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_LZf8ERLnEeetZ5fTa5zGYw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_LZf8ExLnEeetZ5fTa5zGYw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_LZf8EhLnEeetZ5fTa5zGYw" points="[5, -4, -97, 86]$[103, -76, 1, 14]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_LZf8FxLnEeetZ5fTa5zGYw" id="(0.6,0.07042253521126761)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_LZf8GBLnEeetZ5fTa5zGYw" id="(0.16666666666666666,0.7169811320754716)"/>
    </edges>
    <edges xmi:id="_NZL74RLnEeetZ5fTa5zGYw" type="Transition" element="_NZL74BLnEeetZ5fTa5zGYw" source="_fhIncRLhEeetZ5fTa5zGYw" target="_kmsMAxLhEeetZ5fTa5zGYw">
      <children xsi:type="notation:DecorationNode" xmi:id="_NZL75RLnEeetZ5fTa5zGYw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_NZL75hLnEeetZ5fTa5zGYw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_NZL75xLnEeetZ5fTa5zGYw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_NZL74hLnEeetZ5fTa5zGYw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_NZL75BLnEeetZ5fTa5zGYw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_NZL74xLnEeetZ5fTa5zGYw" points="[-12, 1, 248, -20]$[-255, 44, 5, 23]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_NZVs4BLnEeetZ5fTa5zGYw" id="(0.07471264367816093,0.5849056603773585)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_NZVs4RLnEeetZ5fTa5zGYw" id="(0.828125,0.5283018867924528)"/>
    </edges>
    <edges xmi:id="_QCF30RLnEeetZ5fTa5zGYw" type="Transition" element="_QCF30BLnEeetZ5fTa5zGYw" source="_kmsMAxLhEeetZ5fTa5zGYw" target="_kXIGAxLhEeetZ5fTa5zGYw">
      <children xsi:type="notation:DecorationNode" xmi:id="_QCF31RLnEeetZ5fTa5zGYw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_QCF31hLnEeetZ5fTa5zGYw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_QCF31xLnEeetZ5fTa5zGYw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_QCF30hLnEeetZ5fTa5zGYw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_QCF31BLnEeetZ5fTa5zGYw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_QCF30xLnEeetZ5fTa5zGYw" points="[-8, 10, 1, -105]$[-8, 106, 1, -9]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_QCF32BLnEeetZ5fTa5zGYw" id="(0.1796875,0.8113207547169812)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_QCF32RLnEeetZ5fTa5zGYw" id="(0.18518518518518517,0.18867924528301888)"/>
    </edges>
    <edges xmi:id="_XKsSMBLnEeetZ5fTa5zGYw" type="Transition" element="_XKrrIBLnEeetZ5fTa5zGYw" source="_kmsMAxLhEeetZ5fTa5zGYw" target="_Ubm1wxLnEeetZ5fTa5zGYw">
      <children xsi:type="notation:DecorationNode" xmi:id="_XKsSNBLnEeetZ5fTa5zGYw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_XKsSNRLnEeetZ5fTa5zGYw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_XKsSNhLnEeetZ5fTa5zGYw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_XKsSMRLnEeetZ5fTa5zGYw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_XKsSMxLnEeetZ5fTa5zGYw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_XKsSMhLnEeetZ5fTa5zGYw" points="[-21, -2, 34, -330]$[-93, -2, -38, -330]$[-93, 326, -38, -2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_XKuHYBLnEeetZ5fTa5zGYw" id="(0.171875,0.5849056603773585)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_XKuHYRLnEeetZ5fTa5zGYw" id="(0.27972027972027974,0.05660377358490566)"/>
    </edges>
    <edges xmi:id="_aqTMoRLnEeetZ5fTa5zGYw" type="Transition" element="_aqTMoBLnEeetZ5fTa5zGYw" source="_kXIGAxLhEeetZ5fTa5zGYw" target="_pwkP4xLhEeetZ5fTa5zGYw">
      <children xsi:type="notation:DecorationNode" xmi:id="_aqTMpRLnEeetZ5fTa5zGYw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_aqTMphLnEeetZ5fTa5zGYw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_aqTMpxLnEeetZ5fTa5zGYw" x="-25" y="-53"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_aqTMohLnEeetZ5fTa5zGYw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_aqTMpBLnEeetZ5fTa5zGYw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_aqTMoxLnEeetZ5fTa5zGYw" points="[8, 10, -61, -68]$[8, 91, -61, 13]$[56, 91, -13, 13]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_aqc9oBLnEeetZ5fTa5zGYw" id="(0.6296296296296297,0.8113207547169812)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_aqc9oRLnEeetZ5fTa5zGYw" id="(0.08860759493670886,0.2830188679245283)"/>
    </edges>
    <edges xmi:id="_fUnmsRLnEeetZ5fTa5zGYw" type="Transition" element="_fUnmsBLnEeetZ5fTa5zGYw" source="_Ubm1wxLnEeetZ5fTa5zGYw" target="_kXIGAxLhEeetZ5fTa5zGYw">
      <children xsi:type="notation:DecorationNode" xmi:id="_fUnmtRLnEeetZ5fTa5zGYw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_fUnmthLnEeetZ5fTa5zGYw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_fUnmtxLnEeetZ5fTa5zGYw" x="9" y="31"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_fUnmshLnEeetZ5fTa5zGYw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_fUnmtBLnEeetZ5fTa5zGYw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_fUnmsxLnEeetZ5fTa5zGYw" points="[1, -3, -38, 177]$[40, -165, 1, 15]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_fUnmuBLnEeetZ5fTa5zGYw" id="(0.25874125874125875,0.07547169811320754)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_fUnmuRLnEeetZ5fTa5zGYw" id="(0.08333333333333333,0.6981132075471698)"/>
    </edges>
    <edges xmi:id="_ihw4IRLnEeetZ5fTa5zGYw" type="Transition" element="_ihw4IBLnEeetZ5fTa5zGYw" source="_kXIGAxLhEeetZ5fTa5zGYw" target="_phZOoxLlEeetZ5fTa5zGYw">
      <children xsi:type="notation:DecorationNode" xmi:id="_ihw4JRLnEeetZ5fTa5zGYw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ihw4JhLnEeetZ5fTa5zGYw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ihw4JxLnEeetZ5fTa5zGYw" x="26" y="-7"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ihw4IhLnEeetZ5fTa5zGYw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ihw4JBLnEeetZ5fTa5zGYw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ihw4IxLnEeetZ5fTa5zGYw" points="[52, -16, -103, 33]$[157, -60, 2, -11]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ihw4KBLnEeetZ5fTa5zGYw" id="(0.22692307692307692,0.16901408450704225)"/>
    </edges>
    <edges xmi:id="_mryBgBLnEeetZ5fTa5zGYw" type="Transition" element="_mroQgBLnEeetZ5fTa5zGYw" source="_pwkP4xLhEeetZ5fTa5zGYw" target="_fhIncRLhEeetZ5fTa5zGYw">
      <children xsi:type="notation:DecorationNode" xmi:id="_mryBhBLnEeetZ5fTa5zGYw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_mryBhRLnEeetZ5fTa5zGYw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_mryBhhLnEeetZ5fTa5zGYw" x="-77" y="64"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_mryBgRLnEeetZ5fTa5zGYw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_mryBgxLnEeetZ5fTa5zGYw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_mryBghLnEeetZ5fTa5zGYw" points="[24, 13, -140, 243]$[93, 13, -71, 243]$[93, -62, -71, 168]$[161, -62, -3, 168]$[161, -224, -3, 6]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_mryBhxLnEeetZ5fTa5zGYw" id="(0.8481012658227848,0.2830188679245283)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_mryBiBLnEeetZ5fTa5zGYw" id="(0.22413793103448276,0.8867924528301887)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
